body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#map {
    flex: 1;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-form {
    display: flex;
    flex-direction: column;
}

.auth-form * {
    margin: 5px;
}

#error {
    color: red;
}

.loading-dialog {
    text-align: center;
    border: 1px solid gray;
    border-radius: 1rem;
    padding: 1rem;

    &:focus-visible {
        outline: none;
    }
    &::backdrop {
        backdrop-filter: blur(5px);
    }

    pre {
        margin: 0;
    }
}

.user-marker {
    font-size: 1.25rem;
}
