body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#map {
    flex: 1;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-form {
    display: flex;
    flex-direction: column;
}

.auth-form * {
    margin: 5px;
}

#error {
    color: red;
}

.loading-dialog {
    text-align: center;
    border: 1px solid gray;
    border-radius: 1rem;
    padding: 1rem;

    &:focus-visible {
        outline: none;
    }
    &::backdrop {
        backdrop-filter: blur(5px);
    }

    pre {
        margin: 0;
    }
}

.user-marker {
    font-size: 1.25rem;
}

#toolbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    gap: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
    backdrop-filter: blur(2px);
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.1);

    button {
        border: none;
        background-color: white;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
    }
}
