*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: system-ui;
}

#map {
    flex: 1;
}

.map-page {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.profile-page {
    max-width: 1000px;
    margin: auto;
    padding: 1rem;
}

.form-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-form {
    display: flex;
    flex-direction: column;
}

.auth-form * {
    margin: 5px;
}

#error {
    color: red;
}

dialog {
    padding: 0;
    border-radius: 1rem;
    border: none;

    &:focus-visible {
        outline: none;
    }
    &::backdrop {
        backdrop-filter: blur(5px);
    }
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.dialog-wrapper {
    border-radius: inherit;
    > *:not(.close-button-wrapper) {
        padding: 1rem;
    }
}

.loading-dialog {
    padding: 1rem;
    text-align: center;

    pre {
        margin: 0;
    }
}

.sport-dialog {
    ul {
        list-style: none;
        margin: 0;

        li:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}

.user-marker {
    font-size: 1.25rem;
}

#toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    gap: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
    backdrop-filter: blur(2px);
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.1);

    button {
        cursor: pointer;
        border: none;
        background-color: #fff;

        &:hover {
            background-color: #f4f4f4;
        }
        &:active {
            background-color: #efefef;
        }
    }

    .toolbar-seperator {
        flex: 1;
    }
}

.close-button-wrapper {
    display: flex;
    justify-content: right;
    border-radius: inherit;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #efefef;

    &:hover {
        background-color: #e4e4e4;
    }
    &:active {
        background-color: #dfdfdf;
    }
}

.maplibregl-popup .maplibregl-popup-content {
    border-radius: 1rem;
}

.close-button, .maplibregl-popup-close-button {
    font-size: 1.25rem;
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-top-right-radius: inherit;
    border-bottom-left-radius: inherit;
    padding: 0;

    width: 1.5em;
    height: 1.5em;
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }

    &:active {
        background-color: rgba(0, 0, 0, 0.10);
    }
}

.split {
    display: flex;
    & > * {
        flex: 1;
    }
    gap: 1rem;
}

.profile-time-list {
    list-style: none;
    padding-left: 0;

    li {
        display: flex;
        gap: 0.5rem;
        align-items: center;

        placement {
            font-weight: bold;
            font-size: 1.25em;
        }
        margin-bottom: 0.25rem;
    }
}
